.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
}

.switch > input {
    display: none;
}

.switch > .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(71, 151, 197);
    border-radius: 25px;
    transition: 0.4s;
}

.switch > input:checked + .slider {
    background-color: rgb(2, 73, 114);
}

.switch > .slider::before {
    position: absolute;
    content: "";
    height: 34px;
    width: 34px;
    top: 8px;
    left: 8px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.4s;
}


.switch > input:checked + .slider::before {
    transform: translateX(50px);
}

.fab {
    position: fixed;
    right: 2em;
    bottom: 2em;
    background-color: #768fff;
    border-radius: 32px;
}

.fab > button {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #142574;
    color: #fff;
    font-size: 28px;
    border: 0;
    box-shadow: 0 0 20px #000;
    cursor: pointer;
}

.fab > span {
    display: none;
    padding: 0 1em;
}

.fab:hover > span {
    display: inline-block;
}